<div class="contact bg-red container-content">
  <div class="row">
    <div class="col-md-12 col-lg-7 d-flex">
      <div class="contact-heading">
        <h1 class="font-weight-bold">
          {{.title}}
        </h1>
        <div class="arrow-icon">
          <img src="{{relURL `/images/arrow.png`}}" alt="" />
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-4 offset-lg-1 address">
      <div class="row">
        <div class="col-12 box">
          <h5 class="font-weight-bolder">Trụ sở</h5>
          <p class="text">
            Số 11 Ngõ 71 Láng Hạ, Chợ Dừa, Ba Đình, Hà Nội
          </p>
        </div>
        <div class="col-12 box">
          <h5 class="font-weight-bolder">Số điện thoại</h5>
          <p class="text">0818434378</p>
        </div>
        <div class="col-12 box">
          <h5 class="font-weight-bolder">Email</h5>
          <p class="text">takademy@appota.com</p>
        </div>
      </div>
    </div>
  </div>
  <div class="fanpage">
    <p class="m-0">Fanpage</p>
    <p class="font-weight-bold m-0">
      Takademy - https://www.facebook.com/takademy/
    </p>
  </div>
</div>
