<header class="header">
  <nav class="navbar navbar-expand-xl navbar-dark py-0">
    <div class="container-fluid container-header">
      <a class="navbar-brand" href="#">
        <img
          class="colorful-logo"
          src="{{relURL `/images/logo full.png`}}"
          alt=""
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item d-flex mx-2 active">
            <a class="nav-link font-weight-bolder text-white m-auto" href="/"
              >Trang chủ
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item d-flex mx-2">
            <a
              class="nav-link font-weight-bolder text-white m-auto"
              href="/about"
              >Giới thiệu</a
            >
          </li>
          <li class="nav-item d-flex mx-2">
            <a
              class="nav-link font-weight-bolder text-white m-auto"
              href="/creators"
              >Nhà sáng tạo nội dung</a
            >
          </li>
          <li class="nav-item d-flex mx-2">
            <a class="nav-link font-weight-bolder text-white m-auto" href="#"
              >Thương hiệu</a
            >
          </li>
          <li class="nav-item d-flex mx-2">
            <a class="nav-link font-weight-bolder text-white m-auto" href="#"
              >Tham gia ngay</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
