.home {
  font-size: 1.5rem;
  .section-header {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    position: relative;
  }
  .container-content {
    padding: 8rem 7.5rem;
  }
  .content {
    padding: 11rem 0;
  }

  .bg-dark-image {
    background-color: $coverBackgroundBlack;
  }
  .content-cover::after {
    background-image: linear-gradient(to top, #161616, rgba(22, 22, 22, 0));
    content: "";
    position: absolute;
    bottom: 0;
    display: inline-block;
    height: 200px;
    width: 100%;
    z-index: 4;
    width: 100%;
  }
  .content-cover {
    height: 840px;
    position: absolute;
    top: 0;
    z-index: 2;
    .title-area {
      padding: 30px 0 0 0;

      .title::after {
        border: 2px solid $freshRed;
        content: "";
        width: 20vw;
        display: block;
        position: absolute;
        left: 0;
      }
      .content {
        max-width: 750px;
        margin: 3rem 0 0 9rem;
        padding: 0;
        .lead {
          font-size: 1.8rem;
        }
        .description {
          max-width: 100%;
        }
      }
    }
  }
  .bg-cover {
    overflow: hidden;
    height: 850px;
    position: relative;
    z-index: 1;
    .bg-cover-black {
      background-color: $coverBackgroundBlack;
      .title-area {
        padding: 30px 0 0 0;

        .title::after {
          border: 2px solid $freshRed;
          content: "";
          width: 20vw;
          display: block;
          position: absolute;
          left: 0;
        }
        .content {
          max-width: 750px;
          margin: 3rem 9rem;
          padding: 0;
          .lead {
            font-size: 1.8rem;
          }
          .description {
            max-width: 100%;
          }
        }
      }
    }
    .bg-cover-left {
      position: relative;
      z-index: 2;
    }
    .bg-cover-right {
      background-color: #fa1e28;
      background-image: linear-gradient(to bottom, #fa1e28, #1d1d1d);
      display: block;
      position: relative;
      overflow: hidden;
      z-index: 1;
    }
    .img-blur-bird {
      width: 350px;
      position: relative;
      top: 195px;
      left: 86px;
      transform: scale(1.8);
    }
  }

  .creator-picture {
    img {
      position: relative;
      transform: scale(0.8);
      right: 11vw;
      bottom: 100px;
    }
  }
  .heading {
    border-left: 0.5rem solid $freshRed;
    h1 {
      font-size: 4rem;
    }
    p {
      font-size: 2.75rem;
    }
  }
  .solution {
    .heading {
      border-left: 0.5rem solid $coverBackgroundBlack;
      p {
        margin-bottom: 0;
      }
    }
    .icon {
      img {
        width: 140px;
      }
    }
    .solution-cards {
      .card-title {
        font-size: 2.25rem;
      }
      .card-text {
        font-size: 1.8rem;
      }
    }
  }
  .creators {
    .content {
      .slider {
        padding: 0 50px;
        .card-creator {
          height: 25vw;
          overflow: hidden;
          max-width: 400px;
          max-height: 500px;
        }
        .owl-nav {
          display: flex;
          justify-content: space-between;
          margin-top: -225px;
          width: 110%;
          margin-left: -50px;
          .owl-prev span,
          .owl-next span {
            font-size: 60px;
            font-weight: 600;
          }
        }
      }
    }
  }
  .news {
    .content {
      padding: 100px 0;
      .slide {
        .slide-content {
          .bg-piece-left-red {
            background-color: #ae252c;
            height: 940px;
            // height: 100%;
            position: relative;
            .desc {
              position: absolute;
              z-index: 1;
              left: 100px;
              width: 450px;
              .card-body {
                border-radius: 8px;
              }
            }
          }
          .bg-piece-transparent {
            background-color: transparent;
            height: 100%;
            position: relative;
            .slide-image {
              margin-left: -80px;
              border: 7px solid $mainBackground;
            }
          }
        }
      }
    }
  }

  .partners {
    .content {
      padding: 100px 0 0 0;

      .list {
        .item {
          img {
            width: 200px;
          }
        }
      }
    }
  }

  .carousel {
    .carousel-control-prev {
      background: $freshRed;
      height: 6rem;
      width: 6rem;
      border-radius: 100%;
      top: 50%;
      transform: translateY(-50%);
      left: 5vw;
    }
    .carousel-control-next {
      background: $freshRed;
      height: 6rem;
      width: 6rem;
      border-radius: 100%;
      top: 50%;
      transform: translateY(-50%);
      right: 2vw;
    }
  }

  @include media-breakpoint-up(md) {
  }

  @include media-breakpoint-up(lg) {
    .description {
      max-width: 35vw !important;
    }
    .bg-cover {
      height: 840px;
    }
    .title-area {
      padding: 12.5rem 0 0 11rem !important;
      position: relative;
      .creator-picture {
        position: absolute;
        bottom: 0;
        left: 44.9vw;
        z-index: 3;

        .right-creator {
          left: 400px;
        }
        .left-creator {
          left: 98px;
        }
      }
    }
  }
}
