@import "./functions";
@import "./breakpoints";
@import "./variables";
@import "./bootstrap.min.scss";
@import "./owl.carousel.scss";
@import "./header.scss";
@import "./footer.scss";
@import "./home.scss";
@import "./partials.scss";
@import "./about.scss";

body {
  background-color: $mainBackground;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}
.bg-transparent {
  background-color: transparent;
}
.bg-red {
  background-color: $freshRed;
}
.text-red {
  color: $freshRed !important;
}
.bg-cover-black {
  background-color: $coverBackgroundBlack;
}
.font-site-header {
  font-size: 7.5rem !important;
}
.lead {
  font-size: 1.5rem !important;
}
