{{define "main"}}
<div class="about text-white">
  <div class="container-fluid">
    <div class="bg-cover bg-cover-black">
      <div class="introduction">
        <div class="heading">
          <div class="row">
            <div class="col-auto ml-auto">
              <h1 class="font-weight-bold text-uppercase text-red">
                Takademy
              </h1>
            </div>
          </div>
        </div>
        <div class="description">
          <div class="row">
            <div class="col-11 text-box">
              <p class="lead">
                Được thành lập vào tháng 8/2018, Takademy trực thuộc Appota là
                công ty chuyên đào tạo - quản lý dành cho những bạn trẻ mong
                muốn trở thành những nhà sáng tạo nội dung chuyên biệt về game.
              </p>
              <p class="lead">
                Trong thời gian hoạt động, Takademy luôn đổi mới cách thức hoạt
                động để có thể liên tục tạo ra được những giá trị tích cực trong
                cộng động gaming mà vẫn gắn liền với những giá trị cốt lõi ban
                đầu. Hiện nay, Takademy hướng đến những nội dung giải trí, đời
                sống,... góp phần đem đến những trải nghiệm mới năng động, nhiều
                màu sắc cho thế hệ những người trẻ Việt Nam.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="section">
      <div class="vision">
        <div class="heading">
          <h1 class="font-weight-bold font-site-header">Tầm nhìn</h1>
        </div>
        <div class="creators-image">
          <img class="w-100" src="/images/creators/creators_about.png" alt="" />
        </div>
        <div class="description">
          <p>Trở thành học viện đào tạo gaming KOLs hàng đầu tại Việt Nam</p>
        </div>
      </div>
    </div>
  </div>
  {{ partial "section/contact.html" . }}
</div>
{{end}}
