{{define "main"}}
<div class="brand text-white">
  <div class="cover">
    <div class="bg-cover">
      <div class="bg-up bg-section-black"></div>
      <div class="bg-down">
        <div class="row h-100">
          <div class="col-4 bg-section-black h-100"></div>
          <div class="col-8 bg-red h-100"></div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="row h-100">
        <div class="col-6 h-100 image-cover">
          <img
            class="h-100 w-100"
            src="{{relURL `/images/creators/creators_cover_brand.png`}}"
            alt=""
          />
        </div>
        <div class="col-6 h-100">
          <div class="description">
            <p class="description-intro">
              Với sức ảnh hưởng và khả năng lan tỏa mạnh mẽ của các Nhà sáng tạo
              nội dung, Takademy đồng hành cùng thương hiệu đem đến những chiến
              dịch tiếp cận lượng lớn người theo dõi cũng như người hâm mộ và
              thu hút các khách hàng tiềm năng phù hợp.
            </p>
          </div>
          <div class="heading">
            <h1 class="font-largest-header text-uppercase">
              Takademy
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="service bg-section-black">
    <div class="container-content">
      <div class="heading">
        <h1 class="font-largest-header">
          Dịch vụ
        </h1>
      </div>
      <div class="content">
        <div class="accordion" id="accordionExample">
          <div class="row">
            <div class="col-md-7">
              <div class="collapse-box position-relative">
                <div class="card border-danger rounded-0" id="headingOne">
                  <h2 class="mb-0">
                    <button
                      class="btn text-red w-100 text-center text-left collapse-btn"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapseOne"
                      aria-expanded="false"
                      aria-controls="collapseOne"
                    >
                      Sản xuất nội dung quảng bá thương hiệu
                    </button>
                  </h2>
                </div>

                <div
                  id="collapseOne"
                  class="collapse position-absolute"
                  aria-labelledby="headingOne"
                  data-parent="#accordionExample"
                >
                  <div class="card bg-red">
                    <div class="card-body">
                      <h5 class="card-title font-weight-bolder">
                        Sản xuất nội dung quảng bá thương hiệu
                      </h5>
                      <p class="card-text">
                        Những nội dung với nhiều hình thức phong phú được sản
                        xuất bởi chính các nhà sáng tạo, giúp thương hiệu tạo
                        nhận biết và lan tỏa thông điệp đến với đa dạng tập
                        người dùng trên mọi nền tảng.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5"></div>
            <div class="col-md-5"></div>
            <div class="col-md-7">
              <div class="collapse-box position-relative">
                <div class="card border-danger rounded-0" id="headingTwo">
                  <h2 class="mb-0">
                    <button
                      class="btn text-red w-100 text-center text-left collapse-btn collapsed"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapseTwo"
                      aria-expanded="false"
                      aria-controls="collapseTwo"
                    >
                      Hỗ trợ quảng bá sự kiện thương mại & giải trí
                    </button>
                  </h2>
                </div>
                <div
                  id="collapseTwo"
                  class="collapse position-absolute"
                  aria-labelledby="headingTwo"
                  data-parent="#accordionExample"
                >
                  <div class="card bg-red">
                    <div class="card-body">
                      <h5 class="card-title font-weight-bolder">
                        Sản xuất nội dung quảng bá thương hiệu
                      </h5>
                      <p class="card-text">
                        Tham dự và hỗ trợ quảng bá những sự kiện thương mại/giải
                        trí của thương hiệu, giúp thương hiệu tiếp cận số lượng
                        lớn người hâm mộ các Nhà sáng tạo nội dung của Takademy.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-7 offset-md-1">
              <div class="collapse-box position-relative">
                <div class="card border-danger rounded-0" id="headingThree">
                  <h2 class="mb-0">
                    <button
                      class="btn text-red w-100 text-center text-left collapse-btn collapsed"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapseThree"
                      aria-expanded="false"
                      aria-controls="collapseThree"
                    >
                      Giải pháp tổ chức/quản lý sự kiện trong cộng đồng gamer
                    </button>
                  </h2>
                </div>
                <div
                  id="collapseThree"
                  class="collapse position-absolute"
                  aria-labelledby="headingThree"
                  data-parent="#accordionExample"
                >
                  <div class="card bg-red">
                    <div class="card-body">
                      <h5 class="card-title font-weight-bolder">
                        Sản xuất nội dung quảng bá thương hiệu
                      </h5>
                      <p class="card-text">
                        Dựa trên kinh nghiệm tổ chức và quản lý sự kiện, phát
                        triển cộng đồng của Takademy, thương hiệu sẽ có cơ hội
                        thực hiện các hoạt động dành cho cộng đồng gamer nhằm
                        xuất hiện thường xuyên hơn và tăng tương tác với người
                        tiêu dùng.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="case-study bg-section-black">
    <div class="heading">
      <div class="heading1">
        <h1 class="font-largest-header">
          Case
        </h1>
      </div>
      <div class="heading2">
        <h1 class="font-largest-header">
          Student
        </h1>
      </div>
    </div>
    <div class="content">
      <div
        id="carouselExampleInterval"
        class="carousel slide"
        data-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active" data-interval="10000">
            <div class="slide-content">
              <div
                class="row h-100 d-flex justify-content-center align-items-center"
              >
                <div class="bg-piece-left-red col-lg-3 offset-lg-1">
                  <div class="slide-image">
                    <img
                      src="{{relURL `/images/brand_slide_1.jpg`}}"
                      class=""
                      alt="..."
                    />
                  </div>
                </div>
                <div class="bg-transparent col-lg-8 d-none d-lg-block"></div>
              </div>
            </div>
          </div>
          <div class="carousel-item" data-interval="10000">
            <div class="slide-content">
              <div
                class="row h-100 d-flex justify-content-center align-items-center"
              >
                <div class="bg-piece-left-red col-lg-3 offset-lg-1">
                  <div class="slide-image">
                    <img
                      src="{{relURL `/images/brand_slide_1.jpg`}}"
                      class=""
                      alt="..."
                    />
                  </div>
                </div>
                <div class="bg-transparent col-lg-8 d-none d-lg-block"></div>
              </div>
            </div>
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#carouselExampleInterval"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleInterval"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  {{ partial "section/contact.html" . }}
</div>
{{end}}
