{{define "main"}}
<div class="creators text-white">
  <div class="cover">
    <div class="bg-up bg-section-black container-content">
      <div class="row">
        <div class="col-lg-6">
          <h1 class="font-largest-header">Tại Takademy</h1>
        </div>
        <div class="col-lg-6">
          <p class="description text-black-intro">
            Các nhà sáng tạo nội dung được định hướng về thương hiệu cá nhân rõ
            ràng, hỗ trợ phát triển không chỉ về mặt kĩ thuật thi đấu, khả năng
            sản xuất nội dung và xây dựng, quản lý cộng đồng.
          </p>
        </div>
      </div>
    </div>
    <div class="bg-down bg-red"></div>
  </div>
  <div class="why-us">
    <div class="bg-section-black container-content">
      <div class="row">
        <div class="col-lg-4">
          <div class="heading">
            <h1 class="font-title">
              Tại sao nên <span class="text-red"> tham gia</span> Takademy?
            </h1>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="row list-card">
            <div class="col-lg-6 mb-5">
              <div class="card bg-transparent border-danger rounded-0">
                <div class="card-body">
                  <p class="card-text text-center">
                    Định hướng hình ảnh, phát triển cộng đồng người theo dõi
                    đường dài
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 mb-5">
              <div class="card bg-transparent border-danger rounded-0">
                <div class="card-body">
                  <p class="card-text text-center">
                    Định hướng hình ảnh, phát triển cộng đồng người theo dõi
                    đường dài
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 mb-5">
              <div class="card bg-transparent border-danger rounded-0">
                <div class="card-body">
                  <p class="card-text text-center">
                    Định hướng hình ảnh, phát triển cộng đồng người theo dõi
                    đường dài
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 mb-5">
              <div class="card bg-transparent border-danger rounded-0">
                <div class="card-body">
                  <p class="card-text text-center">
                    Định hướng hình ảnh, phát triển cộng đồng người theo dõi
                    đường dài
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="show-case">
    <div class="bg-section-black container-content px-0">
      <div class="heading">
        <div class="heading1">
          <h1 class="font-largest-header text-center">creators</h1>
        </div>
        <div class="heading2">
          <h1 class="font-largest-header text-center">Showcase</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="aov">
    <div class="bg-section-black container-content">
      <div class="heading">
        <h1 class="text-uppercase font-weight-bolder">Aov</h1>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="owl-carousel owl-carousel-creators owl-theme slider">
            <div class="item">
              <div class="card card-creator bg-section-black border-danger">
                <img
                  src="{{relURL `/images/creators/anhma.png`}}"
                  class="card-img-top img-creator h-100"
                  alt="..."
                />
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="info-area">
            <div class="reactions d-flex">
              <div class="number-detail flex-grow-1">
                <div class="number">
                  <h1 class="text-red font-weight-bold">+700K</h1>
                </div>
                <div class="name mt-3">
                  <p class="text-name">Follower</p>
                </div>
              </div>
              <div class="number-detail flex-grow-1">
                <div class="number">
                  <h1 class="text-red font-weight-bold">+700K</h1>
                </div>
                <div class="name mt-3">
                  <p class="text-name">Follower</p>
                </div>
              </div>
              <div class="number-detail flex-grow-1">
                <div class="number">
                  <h1 class="text-red font-weight-bold">+700K</h1>
                </div>
                <div class="name mt-3">
                  <p class="text-name">Follower</p>
                </div>
              </div>
            </div>
            <div class="detial-info mt-5">
              <ul class="list-unstyled">
                <li class="my-3">
                  <h5 class="text-top text-red d-inline">Top 1</h5>
                  <p class="desc-top d-inline">
                    3 mùa liên tiếp 9,10,11 Liên quân server Việt Nam
                  </p>
                </li>
                <li class="my-3">
                  <h5 class="text-top text-red d-inline">Top 1</h5>
                  <p class="desc-top d-inline">
                    3 mùa liên tiếp 9,10,11 Liên quân server Việt Nam
                  </p>
                </li>
                <li class="my-3">
                  <h5 class="text-top text-red d-inline">Top 1</h5>
                  <p class="desc-top d-inline">
                    3 mùa liên tiếp 9,10,11 Liên quân server Việt Nam
                  </p>
                </li>
                <li class="my-3">
                  <h5 class="text-top text-red d-inline">
                    APAC Creator Summit Thailand Gameshow
                  </h5>
                </li>
                <li class="my-3">
                  <h5 class="text-top text-red d-inline">Top 1</h5>
                  <p class="desc-top d-inline">
                    3 mùa liên tiếp 9,10,11 Liên quân server Việt Nam
                  </p>
                </li>
              </ul>
            </div>
            <div class="box-name">
              <h1 class="font-weight-bold">DK Khỉ</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="develop-talent">
    <div class="bg-section-white container-content">
      <div class="heading">
        <h1 class="font-title text-black">
          <span class="text-red">Phát triển tài năng </span> cùng Takademy
        </h1>
      </div>
      <div class="content">
        <ul
          class="nav nav-pills my-5 list-group list-group-horizontal justify-content-center"
          id="xxx"
          role="tablist"
        >
          <li class="nav-item list-group-item p-0" role="presentation">
            <a
              class="item nav-link d-flex rounded-0 h-100 text-center text-black active"
              id="develop-brand-tab"
              href="#develop-brand"
              role="tab"
              data-toggle="tab"
              aria-controls="develop-brand"
              aria-selected="true"
              ><span class="m-auto">
                Phát triển chiến lược thương hiệu
              </span></a
            >
          </li>
          <li class="nav-item list-group-item p-0" role="presentation">
            <a
              class="item nav-link d-flex rounded-0 h-100 text-center text-black"
              id="develop-content-tab"
              href="#develop-content"
              role="tab"
              data-toggle="tab"
              aria-controls="develop-content"
              aria-selected="false"
              ><span class="m-auto"> Phát triển nội dung </span></a
            >
          </li>
          <li class="nav-item list-group-item p-0" role="presentation">
            <a
              class="item nav-link d-flex rounded-0 h-100 text-center text-black"
              id="develop-fan-tab"
              href="#develop-fan"
              role="tab"
              data-toggle="tab"
              aria-controls="develop-fan"
              aria-selected="false"
              ><span class="m-auto">
                Quản lý & phát triển cộng đồng người hâm mộ</span
              ></a
            >
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div
            class="tab-pane fade show active"
            id="develop-brand"
            role="tabpanel"
            aria-labelledby="develop-brand-tab"
          >
            <div class="row">
              <div class="col-md-6 text-center">
                <img
                  class="icon"
                  src="{{relURL `/images/content-marketing.svg`}}"
                  alt=""
                />
              </div>
              <div class="col-lg-6">
                <p class="description text-black">
                  Mỗi nhà sáng tạo nội dung khi tham gia vào chương trình đào
                  tạo của Takademy sẽ được xây dựng những chiến lược phát triển
                  thương hiệu cá nhân chuyên biệt nhằm đem lại những ấn tượng
                  riêng trong cộng đồng game.
                </p>
              </div>
            </div>
          </div>

          <div
            class="tab-pane fade"
            id="develop-content"
            role="tabpanel"
            aria-labelledby="develop-content-tab"
          >
            <div class="row">
              <div class="col-md-6 text-center">
                <img
                  class="icon"
                  src="{{relURL `/images/content-marketing.svg`}}"
                  alt=""
                />
              </div>
              <div class="col-lg-6">
                <p class="description text-black">
                  3
                </p>
              </div>
            </div>
          </div>

          <div
            class="tab-pane fade"
            id="develop-fan"
            role="tabpanel"
            aria-labelledby="develop-fan-tab"
          >
            <div class="row">
              <div class="col-md-6 text-center">
                <img
                  class="icon"
                  src="{{relURL `/images/content-marketing.svg`}}"
                  alt=""
                />
              </div>
              <div class="col-lg-6">
                <p class="description text-black">
                  2
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{ partial "section/contact.html" . }}
</div>
{{end}}
